.about__text {
    font-size: 150px;
    margin: 0.6rem 0 5.5rem 0;
}
.wrapper__container {
    padding: 0.1rem 0 0.1rem 0;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.d-flex.flex-row.justify-content-end {
    position: relative; /* Makes the parent a positioned element */
}

.white__background {
    width: 100%; 
    height: 100%;
    position: absolute; /* Overlay the element */
    right: 0; /* Align to the right side */
    z-index: 1;
    background: linear-gradient(to right, rgba(255,255,255,1) 36%, rgba(255,255,255,0.8) 54%, rgba(255,255,255,0) 73%);
}

.image > img {
    width: 100%;
    position: relative;
    z-index: 0; /* Ensures image is behind the overlay */
}
.group__text {
    padding: 10rem 0 0 7rem;
    max-width: 830px;
}
.company__text {
    font-size: 35px;
    font-weight: 600;
}
.detail__text {
    font-size: 25px;
    font-weight: 300;
}
.red__block {
    background: linear-gradient(0deg, #650E14 32%, #A7292A 100%);
    width: 100%;
    height: 475px;
}
p {
    margin-bottom: 0 !important;
}
.red__text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-top: 4rem !important;
}
.bg__white {
    height: 263px;
    width: 334px;
    background-color: white;
    border-radius: 20px;
    padding: 3rem
}
.first__vector__text, .second__vector__text, .third__vector__text, .fourth__vector__text {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 20px;
    font-weight: 300;
}
.fourth__vector__text {
    margin-top: 0.8rem;
}
.drone__center__block {
    padding: 5rem 10rem 5rem 10rem;
}
.drone__center__title__text {
    font-weight: 600;
    font-size: 30px;
    color: #791118;
}
.drone__center__text {
    font-weight: 300;
    font-size: 20px;
}
.footer__text {
    text-align: center;
    font-size: 32px;
}
.footer__block {
    width: 100%;
    padding: 1.5rem;
    margin-top: 8rem;
    filter: drop-shadow(0px -3px 4px rgba(0,0,0,0.25));
    background-color: white;;
}